<%+cbi/valueheader%>
<script type="text/javascript">//<![CDATA[
	function admin_info(btn)
	{
		btn.disabled = true;
		btn.value = '<%:Reading...%>';
		XHR.get('<%=luci.dispatcher.build_url("admin", "services", "rustdesk-server", "view_key")%>',
			null,
			function(x,rv)
			{
			var tb = document.getElementById('<%=self.option%>-status');
			if (tb)
			{
				tb.innerHTML += "<%:公钥：%>" + "<font color='green'>" + rv.pubKey + "</font>";
			}
				btn.disabled = false;
				btn.value = '<%:读取%>';
			}
		);
		return false;
	}
//]]></script>
<input type="button" class="btn cbi-button cbi-button-apply" value="<%:查看%>" onclick="return admin_info(this)" />
<span id="<%=self.option%>-status"><em><%=self.value%></em></span>
<%+cbi/valuefooter%>